.dashboard {
		padding: 30px 55px;
		max-width: 1200px;

	.btn-new-campaign {
	  @extend %border-8;
		padding: 6px 30px;
	}
	
	h3 {
		margin-bottom: 16px;
	}

	a {
   color: $default-color;

   &:hover {
   	text-decoration: none;
   }
	}

	.cont {
		padding: 23px 30px;
		max-width: 512px;

		.bg-lightblue {
			color: #fff;
			@extend %border-8;
			padding: 2.5px 17px;
  		margin-bottom: 12px;
		}

		.created {
			margin-bottom: 2px;
		}

		.modified {
			margin-bottom: 40px;
		}

		.p-audience {
			margin-top: 35px;
		}
	}
}
